<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BTI1_PRP_1_WS09_10/src/Skript5/Rechnerübung.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Skript5.Rechnerübung"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BTI1_PRP_1_WS09_10"/>
</launchConfiguration>
